@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  padding: 0d;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
section {
  background-color: white;
}
.mainRow {
  margin-top: 3em;
  background-color: white;
  border-radius: 30px;
  box-shadow: 12px 20px 30px;
}
.loginImage {
  object-fit: cover;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.title {
  font-size: 2rem;
  font-weight: 700;
  color: #1c71d1;
}

input {
  width: 16rem;
  height: 2rem;
  box-shadow: 2px -1px 11px 0px rgba(165, 152, 152, 0.75);
}
.loginBtn {
  width: 14rem;
  /* padding: 1em; */
  font-size: 1.2rem;
  font-weight: 700;
  color: white;
  border: none;
  background-color: #57a0b0;
}
.iconContainers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.icon {
  font-size: 1.3rem;
  color: #57a0b0;
}
/* .formContainer {
  width: 100%;
  height: 100%;
} */
